 .recepies-wrapper {
   padding: 64px 44px 66px 44px;
   display: flex;
 }

 .category-menu {
   width: 269px;
   display: flex;
   flex-direction: column;
   margin-right: 32px;
 }

 .category-menu__title {
   margin-bottom: 16px;
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
 }

 .category-menu__item {
   margin-bottom: 12px;
   font-size: 14px;
   line-height: 19px;
 }

 .category-menu__items {
   display: flex;
   flex-direction: column;
   margin-bottom: 48px;
 } 

 .category-menu__item:last-child {
   margin-bottom: 0;
 }

 .category-menu__more {
   display: flex;
   align-items: center;
   flex-direction: row;
   width: 186px;
   height: 48px;
   border: none;
   border-radius: 12px;
   padding: 16px 16px 16px 16px;
   font-size: 15px;
   line-height: 22px;
   background: #F5F5F5;
   outline: none;
 }

 .category-menu__text {
   margin-right: 10px;
 }

 .chevron-right__icon {
   width: 16px;
   height: 16px;
   cursor: pointer;
 }

 .recepie {
   background-color: rgb(228, 247, 190);
   width: 420px;
   height: 280px;
   padding-top: 48px;
   padding-bottom: 32px;
   padding-left: 33px;
 }

 .recepie-one {
   margin-right: 31px;
 }

 .recepie__text {
   font-family: Poppins;
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   color: #6A983C;
   margin-bottom: 8px;
 }

 .recepie__tytle {
   font-weight: 600;
   font-size: 22px;
   line-height: 33px;
   margin-bottom: 95px;
 }

 .recepie__read {
   display: flex;
   align-items: center;
   flex-direction: row;
   width: 163px;
   height: 47px;
   padding: 16px 10px 16px 16px;
   border: 2px solid #92C064;
   border-radius: 12px;
 }

 .recepie__read--title {
   margin-right: 6px;
   font-weight: bold;
   font-size: 15px;
   line-height: 22px;
 }