body, ul, li, logo, h1, h2, h3, p, hr, img, input, section {
     margin: 0;
     padding: 0;
 }
 
 * {
     box-sizing: border-box;
 }

 body {
  background: #fff;
 }

 h1, h2, h3 {
   font-family: Poppins;
   font-style: normal;
 }

 a {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   color: #6A983C;
 }

 .wrapper {
    max-width: 1260px;
    margin: 0 auto;
 }

 .header__wrapper {
   padding: 16px 48px 45px 45px;
 }

 .header__top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 56px;
 }

 .top__contacts--list {
   display: flex;
 }

 .top__contacts--item {
   margin-right: 33px;
   list-style-type: none;
 }

 li:last-child {
   margin-right: 0;
 } 

 .contacts--item {
   text-decoration: none;
 }

 .item__chat {
   font-size: 12px;
 }

 .items__phone {
   font-size: 12px;
   color: #151515;
 }

 .item__mail {
   font-size: 12px;
   color: #151515;
 }

 .top__menu--list {
   display: flex;
 }

 .top__menu--item {
   margin-right: 38px;
   list-style-type: none;
 }

 .menu__item {
    text-decoration: none;
    font-size: 12px;
 }

 .header__inner {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
 }

 .search {
   display: flex;
   border: 1px solid #D1D1D1;
   border-radius: 12px;
   padding: 10px 18px 9px 16px;
   background: #F9F9F9;
 }

 .search-select {
   border: none;
   border-right: 1px solid #D1D1D1;
   margin-right: 24px;
   font-weight: bold;
   font-size: 15px;
   background: #F9F9F9;
 }
 
 .search-input {
   border: none;
   background: #F9F9F9;
 }

 .search-button {
   border: none;
   width: 11px; 
   height: 11px;
 }

 .user-cabinet {
   margin-right:41px;
 }